:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --spinner-animation-speed: 2s;
}

body {
  padding: 0;
  margin: 0;
}

#app {
  background-color: #212228;
  background-image: linear-gradient(#292a30 0.1em, transparent 0.1em),
    linear-gradient(90deg, #292a30 0.1em, transparent 0.1em);
  background-size: 4em 4em;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.card {
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card-header {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.card-body {
  padding: 1em;
  border-radius: 0 0 5px 5px;
}

.card-body textarea {
  background-color: inherit;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 16px;
}

textarea:focus {
  background-color: inherit;
  outline: none;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin var(--spinner-animation-speed) linear infinite;
}

.card-saving {
  display: flex;
  align-items: center;
  gap: 5px;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  position: fixed;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  background-color: #35363e;
  padding: 1em 1em;
  border-radius: 40px;

  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  z-index: 10000;
}

#add-btn {
  background-color: rgba(107, 107, 107, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#add-btn:hover {
  height: 45px;
  width: 45px;
}

.color {
  background-color: grey;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  cursor: pointer;
  transition: 0.3s;
}

.color:hover {
  height: 45px;
  width: 45px;
}

/* login page */

.login-card-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-card {
  font-size: 20px;
  /* text-align: left; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  background-color: grey;
}

.input-area {
  width: 100%;
  display: grid;
  grid-column: 1;
  grid-template-rows: 3;
}
.input-area input {
  border: none;
  padding: 20px;
  height: 10px;
  width: 80%;
  border-radius: 20px;
}
.login-button {
  margin-top: 10px;
  background-color: rgba(107, 107, 107, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 40px;
  width: 40px; */
  /* border-radius: 50%; */
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.logout-btn-container {
  position: fixed;
  top: 5%;
  cursor: pointer;
  right: 2em;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  z-index: 10000;
  background-color: #35363e;
  padding: 1em 1em;
  border-radius: 40px;
  transition: transform 0.3s ease;
}
.logout-btn-container:hover {
  transform: scale(1.1);
}

.logout-btn {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

/* register page */

.register-card-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.register-card {
  font-size: 20px;
  /* text-align: left; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  /* background-color: grey; */
}
.form-field {
  display: grid;
  /* row-gap: 30px; */
  grid-template-rows: 1fr 1fr;
  align-items: end;
  /* justify-content: center; */
}

.form-btn {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  z-index: 10000;
  background-color: #35363e;
  padding: 1em 1em;
  border-radius: 40px;
  transition: transform 0.3s ease;
}

.form-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(170, 183, 198, 0.7);
}
.form-btn input {
  background-color: transparent;
  font-size: 20px;
  border-radius: 20px;
  /* height: 30px; */
  width: auto;
  border: none;
}

.form-field input {
  border: none;
  padding: 20px;
  height: 10px;
  width: 80%;
  border-radius: 20px;
}

#credentials-mismatch {
  color: #d32f2f; /* Red color to indicate error */
  background-color: #35363e;
  /* border: 1px solid #f5c6cb; Border to match background color */
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 10px;
  /* display: none; */
}


/* // foooter */


.footer-text-box
{
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 100px;
}

.footer-text{
  position: absolute;
  left: 50px;
  margin-right: 300px;
  font-size: 20px;
  color: grey;
}
